<%- include('../partials/header.ejs') %>

<h2>Sign Up</h2>
<form action="/auth/sign-up" method="POST">

    <div>
  <label for="firstName">Fisrt Name:</label>
  <input type="text" name="firstName" placeholder="First Name" required />
  </div>
  
  <div></div>
  <label for="lastName">LAst Name:</label>
  <input type="text" name="lastName" placeholder="Last Name" required />
  </div>
  
  <div>
  <label for="email">Email:</label>
  <input type="email" name="email" placeholder="Email" required />
  </div>
  
  <div>
  <label for="firstName">Phone Number:</label>
  <input type="tel" id="phoneNo" name="phoneNo" placeholder="Enter your phone number">
  </div>
  
  <div>
  <label for="firstName">Password:</label>
  <input type="password" name="password" placeholder="Password" required />

  <input type="password" name="confirmPassword" placeholder="Confirm Password" required />

  <button type="submit">Register</button>
</form>

<%- include('../partials/footer.ejs') %>