<%- include('../partials/header.ejs') %>

<div class="signup-container">
<h2>Sign Up</h2>
<% if (error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>
<form action="/auth/sign-up" method="POST" enctype="multipart/form-data"> <!-- add "enctype" to enable upload file -->

    <div>
        <label for="firstName">Fisrt Name:</label>
        <input type="text" id="firstName" name="firstName" required />
    </div>
    
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required />
    </div>
    
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    
    <div>
        <label for="phoneNo">Phone Number:</label>
        <input type="tel" id="phoneNo" name="phoneNo" />
    </div>

    <div>
        <label for="picture">Profile Picture:</label>
        <input type="file" id="picture" name="picture" accept="image/*" />
    </div>

    <!-- Role field for debugging purposes, the value for user role will be "customer" in controller side. 
     "staff" user accounts will be created separately (e.g., by admin)  -->
    <!-- <div>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="">--Please choose your role--</option>
            <option value="customer">Customer</option>
            <option value="staff">Staff</option>
        </select>
    </div> -->

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>

    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
    </div>

    <div>
        <button type="submit">Register</button>
    </div>

</form>
</div>

<%- include('../partials/footer.ejs') %>