<%- include('../partials/header.ejs') %>

<h2>!!!!! Thanks for signing up to our System, <%= user.firstName %>!!!! You are lucky to be in our restaurant!</h2>

<%- include('../partials/footer.ejs') %>