<%- include('../partials/header.ejs') %>

<h2>Thanks for signing up to DineAura Reservation System, <%= user.firstName %>!! You are lucky to be in our system!</h2>

<%- include('../partials/footer.ejs') %>