<%- include('../partials/header.ejs') %>

<div class="signin-container">
    <h2>Thanks for signing up to our System, <%= user.firstName %>!</h2>
    <h2>You are lucky to be in our restaurant!</h2>
</div>

<%- include('../partials/footer.ejs') %>