<%- include('../../partials/header') %>
    <h1>Add New Time Slot</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form method="POST" action="/staff/timeslots">
        <label>Date: <input type="date" name="date" required></label><br>
        <label>Time: <input type="time" name="time" required></label><br>
        <label>Capacity: <input type="number" name="capacity" min="1" required></label><br>
        <button type="submit">Create</button>
    </form>
<%- include('../../partials/footer') %>