<%- include('../../partials/header') %>
<div class="newTimeSlot-container">
        <h1>Add New Time Slot</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form method="POST" action="/staff/timeSlots">
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" pdaceholder="dd/mm/yy" required>
        </div>

        <div>
            <label for="time">Time:</label>
            <input type="time" id="time" name="time"  required>
        </div>
        
        <div>
            <label for="number">Capacity:</label>
            <input type="number" id="number" name="number"  required>
        </div>
        <button type="submit">Create</button>
    </form>
</div>
<%- include('../../partials/footer') %>